<mat-toolbar color="primary">
  <span>Assignment</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
</mat-toolbar>

<div id="container">
  <div
    (click)="addPersonDialogueOpen()"
    class="fav-btn"
    matTooltip="Add Person"
  >
    <mat-icon>person_add_alt</mat-icon>
  </div>

  <div class="users-wrapper" *ngIf="persons">
    <div class="user-card" *ngFor="let person of persons">
      <div class="image">
        <mat-icon class="person">person</mat-icon>
        <div class="btns">
          <button class="edit">
            <mat-icon
              (click)="editPersonDialogueOpen(person)"
              class="edit"
              matTooltip="Edit Information"
              >edit_note</mat-icon
            >
          </button>
          <button class="delete">
            <mat-icon
              (click)="deletePerson(person._id)"
              class="delete"
              matTooltip="Delete Person"
              >delete</mat-icon
            >
          </button>
        </div>
      </div>
      <div class="card-content">
        <div class="left">
          <div class="logo">Name</div>
          <div class="logo">Age</div>
          <div class="logo">Gender</div>
          <div class="logo">Mobile No</div>
        </div>
        <div class="right">
          <div class="name txt">{{ person.name }}</div>
          <div class="age txt">{{ person.age }}</div>
          <div class="gender txt">{{ person.gender }}</div>
          <div class="phone txt">{{ person.mobile_number }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
